<footer class="site-footer footer-v1">
    <div class="col-full">
        <div class="footer-widgets-block">
            Contains adittional info
        </div>
        <div class="site-info">
            <div fxLayout="row">
                <div class="copyright">Copyright &copy; 2020 <a href=".">My Bike & Co</a>. All rights reserved.</div>
                <div fxFlex></div>
                <div class="credit">Powered with <mat-icon color="red">favorite</mat-icon> by Daphnis Automation (D&A).</div>
            </div>
        </div>
    </div>
</footer>