<footer class="site-footer footer-v1" > 
    <div class="col-full">
        <div class="footer-widgets-block">
            <mat-grid-list cols="3" rowHeight="5:1">
                <mat-grid-tile class="footer-part-1">
                    <div>
                        <div class="footer-telegram-icon">
                            <img src="https://img.icons8.com/dotty/80/000000/telegram-app.png"/>
                        </div>
                        <div id="footer-first-header"><strong>Sign up to Newsletter</strong></div>
                        <br>
                        <div id="footer-first-description">...and receive <strong>$20 coupon for first shopping</strong></div>
                    </div>                    
                </mat-grid-tile>

                <mat-grid-tile class="footer-part-1">
                    <div id="footer-search-bar">
                        <input id="footer-search-input" type="text" placeholder="Enter your email address">
                        <button id="footer-search-button" mat-raised-button>Sign up</button>
                    </div>
                </mat-grid-tile>


                <mat-grid-tile class="footer-part-1">
                    <div id="footer-social-medias"style="">
                        <div id="footer-social-medias-description">
                            <img id="footer-social-media-icon" src="../../../assets/icons/facebook.png" alt="">
                            <div id="footer-social-media-name">Facebook</div>
                        </div>

                        <div id="footer-social-medias-description">
                            <img id="footer-social-media-icon"  src="../../../assets/icons/twitter.png" alt="">
                            <div id="footer-social-media-name">Twitter</div>
                        </div>

                        <div id="footer-social-medias-description">
                            <img id="footer-social-media-icon" src="../../../assets/icons/google-plus.png" alt="">
                            <div id="footer-social-media-name">Google+</div>
                        </div>

                        <div id="footer-social-medias-description">
                            <img id="footer-social-media-icon" src="../../../assets/icons/vimeo.png" alt="">
                            <div id="footer-social-media-name">Vimeo</div>
                        </div>

                        <div id="footer-social-medias-description">
                            <img id="footer-social-media-icon" src="../../../assets/icons/rss.png" alt="">
                            <div id="footer-social-media-name">RSS</div>
                        </div>
                    </div>
                </mat-grid-tile>
              </mat-grid-list>
            
            <hr>
            
            <mat-grid-list cols="5" rowHeight="6:8" >
                <mat-grid-tile class="footer-part-1" [colspan]="2" [rowspan]="1">
                    <div>
                        <div class="footer-logo">
                            <img src="../../../assets/images/tech-market.PNG" alt="">
                        </div>

                        <div id="footer-question-part">
                            <img src="../../../assets/icons/call-us-footer.png" alt="">
                            <div id="footer-question-part-detail">
                                <p><strong>GOT QUESTIONS ? CALL US 24/7!</strong></p>
                                
                                <p id="footer-question-part-number"><strong>(800) 8001-8588, (0600) 874 548</strong></p>
                               
                                <p>17 Princess Road, London, Greater London NW1 8JR, UK</p>
                               
                                <a href="#">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon">place</mat-icon>
                                    Find us on map
                                </a>
                             </div>
                             <img src="../../../assets/icons/security-payment.png" alt="" >
                             <div id="footer-payments-part">
                                <p><strong>WE ARE USING SAFE PAYMENTS</strong></p>
                                <div>
                                    <img id="footer-payments-part-cards" src="../../../assets/credit-cards/mastercard.svg" alt="">
                                    
                                    <img id="footer-payments-part-cards" src="../../../assets/credit-cards/visa.svg" alt="">
                                    
                                    <img id="footer-payments-part-cards" src="../../../assets/credit-cards/paypal.svg" alt="">
                                    
                                    <img id="footer-payments-part-cards" src="../../../assets/credit-cards/maestro.svg" alt="">
                                    
                                </div>
                                <p>Secured by:</p>
                                <div id="footer-security-part">
                                    <img id="footer-security-part-norton" src="../../../assets/secured-by/norton.svg" alt="">
                                    <div id="footer-security-part-idle"></div>
                                    <img id="footer-security-part-mcafee" src="../../../assets/secured-by/mcafee.svg" alt="">
                                    
                                </div>
                             </div>
                        </div>
                    </div> 
                </mat-grid-tile>
                
                <mat-grid-tile class="footer-part-1" [colspan]="2" [rowspan]="1">
                    
                    <div id="footer-category">
                        <div id="footer-category-types">
                            <div id="footer-category-types-header">
                                <strong>FIND IT FAST</strong> 
                            </div>
                            <br>
                            <div id="footer-category-types-features">
                                <div>
                                    <a>Computers & Laptop</a>
                                </div>
                                <div>
                                    <a>Cameras & Photography</a>
                                </div>
                                <div>
                                    <a>Smart Phones & Tablets</a>
                                </div>
                                <div>
                                    <a>Video Games & Consoles</a>
                                </div>
                                <div>
                                    <a>TV</a>
                                </div>
                                <div>
                                    <a>Car Electronic & GPS</a>
                                </div>
                            </div>
    
                        </div>
    
                            <div id="footer-category-types-features-2">
                                <div>
                                    <a>Printers & Ink</a>
                                </div>
                                <div>
                                    <a>Audio & Music</a>
                                </div>
                                <div>
                                    <a>Home Theaters</a>
                                </div>
                                <div>
                                    <a>PC Components</a>
                                </div>
                                <div>
                                    <a>Ultrabooks</a>
                                </div>
                                <div>
                                    <a>Smartwatches</a>
                                </div>
    
                            </div>

                    </div>
                    
                        
                    
                </mat-grid-tile>

                <mat-grid-tile class="footer-part-1" [colspan]="1" [rowspan]="1">
                    <div id="footer-service">
                        <div id="footer-service-idle"></div>
                        <div id="footer-service-feature">
                            <div id="footer-service-header">
                                <strong>SERVICE</strong> 
                            </div>
                            <br>
                            <div id="footer-service-items">
                                <div>
                                    <a>Over Ons</a>
                                </div>
                                <div>
                                    <a>Privacybeleid</a>
                                </div>
                                <div>
                                    <a>Carriere</a>
                                </div>
                            </div>
    
                    </div>
                    <div id="footer-service-idle-2">
    
                    </div>
    
                    </div>
                    
                </mat-grid-tile>
              </mat-grid-list>
            
        </div>
        
        
        <div class="site-info">
            <div fxLayout="row">
                <div class="copyright">Copyright &copy; 2020 <a href=".">My Bike & Co</a>. All rights reserved.</div>
                <div fxFlex></div>
                <div class="credit">Powered with <mat-icon color="red">favorite</mat-icon> by Daphnis Automation (D&A).</div>
            </div>
        </div>
    </div>
</footer>