
.brand {
    text-decoration: none;
    color: white;
    display: contents;
    img {
        height: 30px;
        width: 30px;
    }
    span {
        color:white;
        text-decoration:none;
    }
}
