mat-toolbar {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 
    0 4px 5px 0 rgba(0, 0, 0, .14), 
    0 1px 10px 0 rgba(0, 0, 0, .12);
}
.brand {
    text-decoration: none;
    color: white;
    display: contents;
    img {
        height: 30px;
        width: 30px;
    }
    span {
        color:white;
        text-decoration:none;
    }
}

.menu-search-bar {
    display: inline;
}

.menu-search-bar input{
    width: 65%;
    height: 40px; 
    border-radius: 5px;
}

.menu-search-bar button {
    background-color: blue; 
    color: rgb(255, 255, 255); 
    width: 30%; 
    height: 50px;
}