<div >
    <div class="{{bodyEntrance.config.sectionCssClass}}" [style.background-image]="'url(' + heroImageUrl + ')'">

        <div class="overlay" fxLayout="row" fxLayoutAlign="center center">
            <div>
                <p [innerHtml]="bodyEntrance.media[0].message"></p>
                <a mat-stroked-button color="white" routerLink="{{bodyEntrance.media[0].link.url}}">
                    {{bodyEntrance.media[0].link.label}}
                </a>
            </div>
            <div fxFlex="10"></div>
            <mat-card>
                <mat-card-content>
                    <div fxLayout="column">
                        <mat-card-header class="no-avatar">
                            <mat-card-title>Get up-to-date</mat-card-title>
                            <mat-card-subtitle>Receive a mail of our latest uptates</mat-card-subtitle>
                        </mat-card-header>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput>
                        </mat-form-field>                      
                        <mat-form-field appearance="outline">
                            <mat-icon matPrefix>email</mat-icon>
                            <mat-label>Email</mat-label>
                            <input matInput>
                        </mat-form-field>   
                    </div>
 
                    <mat-card-actions>
                        <div fxFlex></div>
                        <button mat-raised-button color="primary">
                            Apply for updates
                        </button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>            
        </div>
    </div>
    <div>
        <section class="pull-up">
            <mat-card>
                Testing
            </mat-card>
        </section>
    </div>
    <div class="clear">&nbsp;</div>

    <div>
        <div class="categories-bikes">
            <h1>My Bike</h1>
            <mat-divider></mat-divider>
            <mat-nav-list class="categories-bikes-nav-list">
                <mat-list-item *ngFor="let item of bodyQuickStart.value">
                  <mat-icon matListIcon >keyboard_arrow_right</mat-icon>
                  <h3 matLine> {{item.label}} </h3>
                </mat-list-item>
              </mat-nav-list>
        </div>
    
        <div class="bike-types">
            <mat-card class="example-card" *ngFor="let item of bodyCardList.value" id="bike-types-cards">
                <mat-card-header>
                  <mat-card-title class="bike-types-header">{{item.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{item.media[0].asset.src}}" alt="{{item.media[0].asset.alt}}">
                <mat-card-content>
                  <p class="bike-types-cards-content">
                    {{item.link.title}}
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
    </div>

    <br>

    <!-- <div class="bike-grid"  rowHeight="6:8">
        <div><img src="{{bodyContentList.value[0].media[0].asset.src}}" alt="{{bodyContentList.value[0].media[0].asset.alt}}"></div>
        <div class="bike-grid-description" >
            <div [innerHTML] = "bodyContentList.value[0].content" >
            </div>
        </div>
    </div> -->

    <div class="bike-grid">
        <mat-grid-list  cols="5" rowHeight="2:3">
            <mat-grid-tile class="bike-grid-part" [colspan]="3" [rowspan]="1">
                <div class="bike-grid-img"><img src="{{bodyContentList.value[0].media[0].asset.src}}" alt="{{bodyContentList.value[0].media[0].asset.alt}}"></div>
            </mat-grid-tile>
            <mat-grid-tile class="bike-grid-part" [colspan]="2" [rowspan]="1">
                <div class="bike-grid-description" >
                    <div [innerHTML] = "bodyContentList.value[0].content" >
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    

    <br>
    <br>

    

    

    <!-- <div class="headphones-card">
        <mat-card class="headphones-card-item" *ngFor="let item of bodyCampaignList.value">
                <p> {{item.title}}</p>
                <div *ngFor="let element of item[0].media">
                    <img mat-card-image src="{{element[0].asset.src}}">
                    <p>{{element.link.title}}</p>
                </div>
                <img src="{{item.media.asset.src}}" alt="">
                <img mat-card-image src="{{item.media.asset.src}}">
            
            <img mat-card-image src="{{item.media.asset.src}}">
            <mat-card-content>desc</mat-card-content>
            <mat-card-content style="text-align:center;">{{item.media.link.title}}</mat-card-content>	
        </mat-card>
    </div> -->

    <div class="headphones-card">
        <div class="headphones-card-first">
            <mat-card>
                    <mat-card-title class="headphones-card-first-title"> {{bodyCampaignList.value[0].caption}}</mat-card-title>
                    <div class="headphones-card-first-pic">
                        <div class="headphones-card-first-pic-item" *ngFor="let element of bodyCampaignList.value[0].media">
                            <img mat-card-image src="{{element.asset.src}}" alt="{{element.asset.alt}}">
                        </div>
                    </div>
            </mat-card>
        </div>

        <div class="headphones-card-other" *ngFor="let item of bodyCampaignList.value.slice(1)">
            <mat-card>
                <mat-card-title class="headphones-card-other-title"> {{item.caption}}</mat-card-title>
                <div class="headphones-card-other-inside">
                    <img mat-card-image src="{{item.media[0].asset.src}}" alt="{{item.media[0].asset.alt}}">
                </div>
                <mat-card-content class="headphones-card-other-content">
                    <p>
                       {{item.media[0].link.title}} 
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
    
    <br>
    <br>

    <div class="unique">
    <div class="unique-card-header">{{bodyProductCardList.header}}</div>
    <div class="unique-cards-div">
        <mat-card class="unique-cards" >
            <mat-card-title><mat-icon class="unique-cards-icon">favorite</mat-icon></mat-card-title>
            <br>
            <div *ngIf="currentPhoto; then thenBlock; else elseBlock;"></div>
                <ng-template #thenBlock>
                    <img mat-card-image class="unique-cards-image-first" src="{{bodyProductCardList.value[0].media[0].asset.src}}" alt="{{bodyProductCardList.value[0].media[0].asset.alt}}">
                </ng-template>
                <ng-template #elseBlock>
                    <img mat-card-image class="unique-cards-image-second"  src="{{bodyProductCardList.value[0].media[1].asset.src}}" alt="{{bodyProductCardList.value[0].media[1].asset.alt}}">    
                </ng-template>
                 
            <mat-card-content class="unique-cards-content">{{bodyProductCardList.value[0].price}}</mat-card-content>
            <p>{{bodyProductCardList.value[0].link.title}}</p>
            <div class="unique-cards-content-color">
                <div class="unique-cards-content-colored-button">
                    <button mat-mini-fab style="background-color:{{bodyProductCardList.value[0].media[0].asset.color}};" (click)=changePhoto()></button>
                </div>
                <div class="unique-cards-content-colored-button-2">
                    <button mat-mini-fab style="background-color:{{bodyProductCardList.value[0].media[1].asset.color}};" (click)=changePhoto2()></button>
                </div>

            </div>

            <br><br>
            <button mat-raised-button class="unique-cards-button">Add to Chart</button>
            <br><br>
            <a href="#" class="unique-cards-description">+Add to Compare</a>
        </mat-card>

        <!-- ******************************************************************************   -->

        <mat-card class="unique-cards" >
            <mat-card-title><mat-icon class="unique-cards-icon">favorite</mat-icon></mat-card-title>
            <br>
            <div *ngIf="currentPhoto2; then thenBlock2; else elseBlock2;"></div>
                <ng-template #thenBlock2>
                    <img mat-card-image class="unique-cards-image-first" src="{{bodyProductCardList.value[1].media[0].asset.src}}" alt="{{bodyProductCardList.value[1].media[0].asset.alt}}">
                </ng-template>
                <ng-template #elseBlock2>
                    <img mat-card-image class="unique-cards-image-second"  src="{{bodyProductCardList.value[1].media[1].asset.src}}" alt="{{bodyProductCardList.value[1].media[1].asset.alt}}">    
                </ng-template>
                 
            <mat-card-content class="unique-cards-content">{{bodyProductCardList.value[1].price}}</mat-card-content>
            <p>{{bodyProductCardList.value[1].link.title}}</p>
            <div class="unique-cards-content-color">
                <div class="unique-cards-content-colored-button">
                    <button mat-mini-fab style="background-color:{{bodyProductCardList.value[1].media[0].asset.color}};" (click)=changePhoto3()></button>
                </div>
                <div class="unique-cards-content-colored-button-2">
                    <button mat-mini-fab style="background-color:{{bodyProductCardList.value[1].media[1].asset.color}};" (click)=changePhoto4()></button>
                </div>

            </div>

            <br><br>
            <button mat-raised-button class="unique-cards-button">Add to Chart</button>
            <br><br>
            <a href="#" class="unique-cards-description">+Add to Compare</a>
        </mat-card>



                <!-- ******************************************************************************   -->




        <mat-card class="unique-cards" >
            <mat-card-title><mat-icon class="unique-cards-icon">favorite</mat-icon></mat-card-title>
            <br>
            <div *ngIf="currentPhoto3; then thenBlock3; else elseBlock3;"></div>
                <ng-template #thenBlock3>
                    <img mat-card-image class="unique-cards-image-first" src="{{bodyProductCardList.value[2].media[0].asset.src}}" alt="{{bodyProductCardList.value[2].media[0].asset.alt}}">
                </ng-template>
                <ng-template #elseBlock3>
                    <img mat-card-image class="unique-cards-image-second"  src="{{bodyProductCardList.value[2].media[1].asset.src}}" alt="{{bodyProductCardList.value[2].media[1].asset.alt}}">    
                </ng-template>
                 
            <mat-card-content class="unique-cards-content">{{bodyProductCardList.value[2].price}}</mat-card-content>
            <p>{{bodyProductCardList.value[2].link.title}}</p>
            <div class="unique-cards-content-color">
                <div class="unique-cards-content-colored-button">
                    <button mat-mini-fab style="background-color:{{bodyProductCardList.value[2].media[0].asset.color}};" (click)=changePhoto5()></button>
                </div>
                <div class="unique-cards-content-colored-button-2">
                    <button mat-mini-fab style="background-color:{{bodyProductCardList.value[2].media[1].asset.color}};" (click)=changePhoto6()></button>
                </div>

            </div>

            <br><br>
            <button mat-raised-button class="unique-cards-button">Add to Chart</button>
            <br><br>
            <a href="#" class="unique-cards-description">+Add to Compare</a>
        </mat-card>

                <!-- ******************************************************************************   -->


        <mat-card class="unique-cards" >
            <mat-card-title><mat-icon class="unique-cards-icon">favorite</mat-icon></mat-card-title>
            <br>
            <div *ngIf="currentPhoto4; then thenBlock4; else elseBlock4;"></div>
                <ng-template #thenBlock4>
                    <img mat-card-image class="unique-cards-image-first" src="{{bodyProductCardList.value[3].media[0].asset.src}}" alt="{{bodyProductCardList.value[3].media[0].asset.alt}}">
                </ng-template>
                <ng-template #elseBlock4>
                    <img mat-card-image class="unique-cards-image-second"  src="{{bodyProductCardList.value[3].media[1].asset.src}}" alt="{{bodyProductCardList.value[3].media[1].asset.alt}}">    
                </ng-template>
                 
            <mat-card-content class="unique-cards-content">{{bodyProductCardList.value[3].price}}</mat-card-content>
            <p>{{bodyProductCardList.value[3].link.title}}</p>
            <div class="unique-cards-content-color">
                <div class="unique-cards-content-colored-button">
                    <button mat-mini-fab style="background-color:{{bodyProductCardList.value[3].media[0].asset.color}};" (click)=changePhoto7()></button>
                </div>
                <div class="unique-cards-content-colored-button-2">
                    <button mat-mini-fab style="background-color:{{bodyProductCardList.value[3].media[1].asset.color}};" (click)=changePhoto8()></button>
                </div>

            </div>

            <br><br>
            <button mat-raised-button class="unique-cards-button">Add to Chart</button>
            <br><br>
            <a href="#" class="unique-cards-description">+Add to Compare</a>
        </mat-card>
        
    </div>

    <!-- <div class="unique-cards-div">
        <mat-card class="unique-cards" >
            <mat-card-title><mat-icon class="unique-cards-icon">favorite</mat-icon></mat-card-title>
            <br>
            <div *ngIf="currentPhoto; then thenBlock; else elseBlock;"></div>
                <ng-template #thenBlock>
                    <img mat-card-image class="unique-cards-image-first" src="{{bodyProductCardList.value[0].media[0].asset.src}}" alt="{{bodyProductCardList.value[0].media[0].asset.alt}}">
                </ng-template>
                <ng-template #elseBlock>
                    <img mat-card-image class="unique-cards-image-second"  src="{{bodyProductCardList.value[0].media[1].asset.src}}" alt="{{bodyProductCardList.value[0].media[1].asset.alt}}">    
                </ng-template>
            <mat-card-content class="unique-cards-content">{{bodyProductCardList.value[0].price}}</mat-card-content>
            <p>{{bodyProductCardList.value[0].link.title}}</p>
            <div class="unique-cards-content-color">
                <button mat-mini-fab class="unique-cards-content-colored-button" style="background-color:{{bodyProductCardList.value[0].media[0].asset.color}};" (click)=changePhoto()></button>  
                <button mat-mini-fab class="unique-cards-content-colored-button-2" style="background-color:{{bodyProductCardList.value[0].media[1].asset.color}};" (click)=changePhoto()></button>
            </div>

            <br><br>
            <button mat-raised-button class="unique-cards-button">Add to Chart</button>
            <br><br>
            <a href="#" class="unique-cards-description">+Add to Compare</a>
        </mat-card>
        
    </div> -->
</div>
    
    
    
</div>