<div class="main-entrance">
    <div class="product-entrance">
        <mat-icon id="entrance-icon">home</mat-icon>
        <p>Hoofdpagina / Catalogue / Herenfiets / Umit Velo City 28 inch</p>
        <br>
        <br>
        <hr>
    </div>

    <div class="product-detail">
        <mat-grid-list cols="7"  rowHeight="2:3">
            <mat-grid-tile class="product-detail-pictures" [colspan]="5" [rowspan]="2">
                <div class="product-detail-main-picture"><img src="https://cdn.webshopapp.com/shops/269119/files/303380484/450x450x2/altec-metro-28-inch-herenfiets-50-cm-grijs-7v.jpg" alt=""></div>
            </mat-grid-tile>
            <mat-grid-tile class="product-detail-pictures" [colspan]="2" [rowspan]="2">
                <div class="product-detail-first-desc">
                    <p class="product-detail-first-desc-title">Umit Velo City 28 Inch</p>
                    <br>
                    <br>
                    <p class="product-detail-first-desc-info">12 versnellingen, dubbele handrem, originee</p>
                    <br>
                    <br>
                    <p class="product-detail-first-desc-code">Code : 287800</p>
                    <p class="product-detail-first-desc-detail">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                    <br>
                    <hr>
                    <h4 class="product-detail-first-desc-frames">Vekrijbaar in volgende frames</h4>
                
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="product-detail-pictures" [colspan]="5" [rowspan]="0.75">
                asd
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>