<div class="main-entrance">
    <div class="product-entrance">
        <mat-icon id="entrance-icon">home</mat-icon>
        <p>Hoofdpagina / Catalogue / Herenfiets / Umit Velo City 28 inch</p>
        <br>
        <br>
        <hr>
    </div>

    <div class="product-detail">
        <mat-grid-list cols="7"  rowHeight="2:3">
            <mat-grid-tile class="product-detail-pictures" [colspan]="5" [rowspan]="2">
                <div class="product-detail-main-picture"><img src="https://cdn.webshopapp.com/shops/269119/files/303380484/450x450x2/altec-metro-28-inch-herenfiets-50-cm-grijs-7v.jpg" alt=""></div>
            </mat-grid-tile>
            <mat-grid-tile class="product-detail-pictures" [colspan]="2" [rowspan]="2">
                <div class="product-detail-first-desc">
                    <p class="product-detail-first-desc-title">Umit Velo City 28 Inch</p>
                    <br>
                    <br>
                    <p class="product-detail-first-desc-info">12 versnellingen, dubbele handrem, originee</p>
                    <br>
                    <br>
                    <p class="product-detail-first-desc-code">Code : 287800</p>
                    <p class="product-detail-first-desc-detail">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                    <br>
                    <hr>
                    <p class="product-detail-first-desc-frames">Vekrijbaar in volgende frames</p>
                    <br>
                    <br>
                    <button mat-stroked-button class="product-detail-first-desc-frames-button" color="primary">50 cm</button>
                    <button mat-stroked-button class="product-detail-first-desc-frames-button" color="primary">52 cm</button>
                    <button mat-stroked-button class="product-detail-first-desc-frames-button" color="primary">60 cm</button>
                    <br>
                    <br>
                    <hr>
                    <p class="product-detail-first-desc-frames">Vekrijbaar in volgende kleuren</p>
                    <br>
                    <br>
                    <button mat-stroked-button class="product-detail-first-desc-kleuren-button" color="primary">Antraciet</button>
                    <button mat-stroked-button class="product-detail-first-desc-kleuren-button" color="primary">Zwart-Rood</button>
                    <br>
                    <br>
                    <hr>
                    <p class="product-detail-first-desc-adviesprijs">Adviesprijs:</p>
                    <br>
                    <br>
                    <p class="product-detail-first-desc-adviesprijs-amount"><span>&#8364;</span>349,00</p>
                    <button mat-stroked-button class="product-detail-first-desc-adviesprijs-button" color="primary">Zoek een Dealer</button>
                    <br>
                    <br>
                    <br>
                    <mat-icon class="product-detail-first-desc-adviesprijs-icon-1" id="entrance-icon" style="float: left;">drafts</mat-icon>
                    <img class="product-detail-first-desc-adviesprijs-icon-2" src="../../../../assets/icons/twitter (1).png" alt="">    
                    <img class="product-detail-first-desc-adviesprijs-icon-2" src="../../../../assets/icons/facebook (1).png" alt="">
                    <mat-form-field>
                        <input type="number" value="{{numberofBicyle}}" matInput>
                    </mat-form-field>
                    <button mat-stroked-button>
                        Afstellen
                    </button>  
                    
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="product-detail-pictures" [colspan]="5" [rowspan]="0.50">
                <div class="product-detail-second-pictures">
                    <div class="product-detail-second-pic">

                    </div>
                    <div class="product-detail-second-pic">

                    </div>
                    <div class="product-detail-second-pic">

                    </div>
                    <div class="product-detail-second-pic">

                    </div>
                    <div class="product-detail-second-pic">

                    </div>
                    <div class="product-detail-second-pic">

                    </div>
                </div>
                
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="product-beschrijving">
        <h2>Beschrijving</h2>
        <hr>
        <br>
        <br>
        <p class="product-beschrijving-desc">Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.</p>
        <br>
        <br>
        <div class="product-beschrijving-img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Left_side_of_Flying_Pigeon.jpg" alt="">
            <div class="top-left">Top Left</div>
            <div class="bottom-right">Bottom Right</div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="product-specificaties">
        <h2>Specificaties</h2>
        <hr>
        <div class="product-specificaties-first">
            <p><b>Remmen</b></p>
            <p><b>Frame</b></p>
            <p><b>Volgen</b></p>
            <p><b>Voorwork</b></p>
            <p><b>Verlichting</b></p>
            <p><b>Framemaat</b></p>
        </div>

        <div class="product-specificaties-first">
            <p>V-brakes</p>
            <p>V-brakes</p>
            <p>V-brakes</p>
            <p>V-brakes</p>
            <p>V-brakes</p>
            <p>V-brakes</p>
        </div>

        <div class="product-specificaties-first">
            <p><b>Remmen</b></p>
            <p><b>Frame</b></p>
            <p><b>Volgen</b></p>
            <p><b>Voorwork</b></p>
            <p><b>Verlichting</b></p>
            <p><b>Framemaat</b></p>
        </div>

        <div class="product-specificaties-first">
            <p>V-brakes</p>
            <p>V-brakes</p>
            <p>V-brakes</p>
            <p>V-brakes</p>
            <p>V-brakes</p>
            <p>V-brakes</p>
        </div>
    </div>

    <div class="product-suggestion">
        <h2>Wellicht ook interessant voor jou?</h2>
        <div class="product-suggestion-card">
            <mat-card class="product-suggestion-card-1">
                <div class="headphones-card-other-inside">
                    <img mat-card-image src="https://cdn.webshopapp.com/shops/269119/files/290474580/450x450x2/crown-rio-28-inch-stadsfiets-53cm-zwart.jpg" alt="">
                </div>
                <mat-card-content class="headphones-card-other-content">
                    <p>
                       Fietsmodel 1
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="product-suggestion-card-1">
                <div class="headphones-card-other-inside">
                    <img mat-card-image src="https://cdn.webshopapp.com/shops/269119/files/290474580/450x450x2/crown-rio-28-inch-stadsfiets-53cm-zwart.jpg" alt="">
                </div>
                <mat-card-content class="headphones-card-other-content">
                    <p>
                       Fietsmodel 2
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="product-suggestion-card-1">
                <div class="headphones-card-other-inside">
                    <img mat-card-image src="https://cdn.webshopapp.com/shops/269119/files/290474580/450x450x2/crown-rio-28-inch-stadsfiets-53cm-zwart.jpg" alt="">
                </div>
                <mat-card-content class="headphones-card-other-content">
                    <p>
                       Fietsmodel 3
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="product-suggestion-card-1">
                <div>
                    <img mat-card-image src="https://cdn.webshopapp.com/shops/269119/files/290474580/450x450x2/crown-rio-28-inch-stadsfiets-53cm-zwart.jpg" alt="">
                </div>
                <mat-card-content class="headphones-card-other-content">
                    <p>
                       Fietsmodel 4
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>

    <div class="last-seen">
        <h2>Laatst bekeken</h2>
        <mat-card class="last-seen-card">
            <div>
                <img mat-card-image src="https://cdn.webshopapp.com/shops/269119/files/290474580/450x450x2/crown-rio-28-inch-stadsfiets-53cm-zwart.jpg" alt="">
            </div>
            <mat-card-content>
                <p>
                   Altec Manta 28 inch
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    
</div>